.navbar {
  background-color: #35424a;
  border-bottom: 3px solid #a9508b;
}
.navbar .left-navbar {
  float: left;
  margin-left: 200px;
}
.navbar .left-navbar h1 {
  font-size: 2rem;
  color: #fff;
}
.navbar .left-navbar h1 span {
  color: #a9508b;
}
.navbar .right-navbar {
  float: right;
  margin: 25px 150px 0 0;
}
.navbar .right-navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar .right-navbar ul li {
  margin-right: 40px;
}
.navbar .right-navbar ul li #home {
  color: #a9508b;
}
.navbar .right-navbar ul li #home:hover {
  color: #fff;
}
.navbar .right-navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
}

@media (max-width: 1100px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar .left-navbar {
    margin: 0 auto;
  }
  .navbar .right-navbar {
    margin: 0 auto;
  }
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}
body main, html main {
  display: flex;
  flex-direction: column;
}
body main nav, body main section, body main footer, html main nav, html main section, html main footer {
  width: 100%;
}

.introduction {
  background-image: url("././images/showcase.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  height: 400px;
  color: #fff;
}
.introduction #name {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  margin: -10px 0;
}
.introduction #description {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.3rem;
}

.subscribe {
  background-color: #35424a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: #fff;
}
.subscribe #newsletter {
  margin-left: 200px;
  font-size: 1.5rem;
  font-weight: bold;
}
.subscribe form {
  margin-right: 170px;
}
.subscribe #email {
  width: 250px;
  height: 30px;
}
.subscribe #submit {
  height: 36px;
  background: #a9508b;
  color: #fff;
  border: none;
  padding: 0 20px;
}

.logo {
  height: 280px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.logo .box {
  margin-top: 30px;
  width: 500px;
  padding: 0 10px;
}
.logo .box img {
  width: 90px;
}

@media (max-width: 1100px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
  .subscribe #newsletter {
    margin: 0 auto;
  }
  .subscribe form {
    margin: 0 auto 30px auto;
  }

  .introduction #name {
    top: 75px;
  }
  .introduction #description {
    top: 250px;
  }
}
footer {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffaf0;
  color: #000;
  border-top: 3px solid #a9508b;
}
footer img {
  width: 200px;
  height: 40px;
  margin-top: -15px;
}

.navbar .right-navbar ul li #about {
  color: #fff;
}
.navbar .right-navbar ul li #about:hover {
  color: #fff;
}
.navbar .right-navbar ul li #home {
  color: #fff;
}
.navbar .right-navbar ul li #home:hover {
  color: #fff;
}
.navbar .right-navbar ul li #services {
  color: #a9508b;
}
.navbar .right-navbar ul li #services:hover {
  color: #fff;
}

.services-container {
  height: auto;
  display: flex;
  width: 100%;
}
.services-container .services {
  margin: 0 60px 0 200px;
  width: 70%;
}
.services-container .services h4 {
  font-size: 1.2rem;
  margin-bottom: -1px;
}
.services-container .services p {
  font-size: 1.03rem;
  border: 1px solid #ccc;
  padding: 40px 20px 30px 20px;
  background-color: #e6e6e6;
}
.services-container .services p span {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
.services-container .message-form {
  margin: 25px 150px 0 0;
  width: 35%;
}
.services-container .message-form p {
  font-size: 1.2rem;
  font-weight: bold;
}
.services-container .message-form #form-name, .services-container .message-form #email, .services-container .message-form #message {
  display: block;
  width: 90%;
  padding: 5px;
}
.services-container .message-form #submit {
  background: #a9508b;
  border: 0;
  height: 35px;
  padding: 0 20px;
  color: #fff;
  margin-top: 10px;
}
.services-container .dark {
  padding: 15px;
  background-color: #35424a;
  color: #fff;
}

@media (max-width: 1100px) {
  .services-container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .services-container .services {
    margin: 0 auto;
  }
  .services-container .message-form {
    margin: 0 auto 20px auto;
    width: 50%;
  }
}

/*# sourceMappingURL=services.css.map */
