footer {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $footerBackgroundColor;
    color: $footerColor;
    border-top: 3px solid $primaryTextColor;
    img {
        width: 200px;
        height: 40px;
        margin-top: -15px;
    }
}