$primaryTextColor : #a9508b;
$secondaryTextColor : #fff;
$primaryBackgroundColor: #35424a;
$logoBackgroundColor :#f4f4f4;
$footerBackgroundColor : #fffaf0;
$footerColor : #000;

$primaryFontAndSize : 15px/1.5 Arial, Helvetica, sans-serif;